*{
    margin: 0;
    padding: 0;
}

body{
    padding-left: 20%;
    padding-right: 20%;
    height: 1200px;
}

@media screen and (max-width: 1200px) {
    body{
        padding-left: 10%;
        padding-right: 10%;
    }
}

@media screen and (max-width: 900px) {
    body{
        padding-left: 5%;
        padding-right: 5%;
    }
}

/* HEADER */

.header-container {
    padding-top: 0.938rem;
    display: flex;
    align-items: center;
}

#header-pic{
    height: 80px;
    width: 100%;
    position: relative;
    border-radius: 10px;
    background-color: #5c6b73;
    border: 1px solid #253237;
}

#profile-pic {
    width: 80px;
    height: 80px;
    position: absolute;
    margin-left: 20px;
    border-radius: 50%;
    
    border: 4px solid #f5f3f3;
}

h1{
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 2.5rem;
    color: #253237;
}

p{
    font-family: 'Montserrat', sans-serif;
    font-size: 1rem;
    color: #253237;
    text-align: justify;
    margin-top: 20px;
}

/* NAVEGADOR */

nav{
    position: sticky;
    top: 0;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.nav-links {
    font-family: 'Montserrat', sans-serif;
    font-weight: bold;
    font-size: 1rem;

    display: flex;
    flex-direction: row;
    list-style: none;
    align-items: center;
}

.nav-links a{
    display: block;
    padding: 0.938rem 0px 0px 1.25rem;
    transition: all ease-in-out 100ms;
    text-decoration: none;
    color: #253237;
}

.hamburger {
    display: none;
    cursor: pointer;
    width: 30px;
}

.hamburger .bar {
    flex-basis: 100%;
    border-radius: 25px;
    background-color: black;
    height: 4px;
    margin: 2px;
}

/* NAV - RESPONSIVE */

@media (max-width: 768px) {

    nav{
         flex-wrap: wrap;
    }

    .hamburger{
        display: flex;
        flex-wrap: wrap;
    }

    .nav-links{
        display: none;
        flex-basis: 100%;
        flex-wrap: wrap;
    }

    .nav-links.active {
        display: block;
    }

    .nav-links li{
        flex-basis: 100%;
    }
    
    .nav-links a{
        text-align: center;
        font-size: 1rem;
        padding: 0 0 0.75rem 0;
    }

}

/* SECTION MAP */

#map-section{
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(2, 1fr);
    align-items: center;
}

@media screen and (max-width: 768px) {
    #map-section{
        grid-template-columns: repeat(1, 1fr);
        gap: 2rem;
    }
}

iframe{
    border-radius: 25px;
    height: 300px;
}

/* FOOTER */

footer{
    font-family: 'Montserrat', sans-serif;
}

#footer_content{
    border-radius: 10px;
    background-color: #5c6b73;
    border: 1px solid #253237;
    color: white;
    display: grid;
    gap: 3rem;
    grid-template-columns: repeat(4, 1fr);
    padding: 2rem 3rem;
}

#footer_contacts p{
    color: white;
    margin-top: 0;;
}

#footer_social_media{
    display: flex;
    gap: 0.5rem;
    margin-top: 1.5rem;
}

.fa-brands{
    color: white;
}

#github .fa-brands:hover{
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    color: #171515;
}

#linkedin .fa-brands:hover{
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    color: #0e76a8;
}

#whatsapp .fa-brands:hover{
    transition: box-shadow 300ms ease-in-out, color 300ms ease-in-out;
    color: #25D366;
}

.footer_list{
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer_list .footer_link{
    text-decoration: none;
    color: #253237;
    font-weight: bold;
}

.footer_list .footer_link:hover{
    color: white;
    transition: all ease-in-out 100ms;
}

.footer_subscribe {
    display: flex;
    flex-direction: column;
    gap: 0.75rem;
}

.footer_subscribe p{
    color: white;
}

#input_group{
    display: flex;
    align-items: center;
    border-radius: 5px;
    text-align: center;
    background-color: white;
}

#input_group input{
    all: unset;
    width: 100%;
}

#input_group button{
    all: unset;
    background-color: #5c6b73;
    height: 100%;

    border-color: #253237;
    cursor: pointer;
}

#input_group button:hover{
    opacity: 0.95;
}

.fa-solid{
    color: white;
    transition: all .35s;
}

#footer_copyright p{
    text-align: center;
    margin-top: 0.5rem;
    font-size: 0.6rem;
}

@media screen and (max-width: 768px) {
    #footer_content{
        grid-template-columns: repeat(2, 1fr);
        gap: 2rem
    }
}

@media screen and (max-width: 426px) {
    #footer_content{
        grid-template-columns: repeat(1, 1fr);
        gap: 3rem 2rem;
    }
}